.second-section {
  padding: 20px;
}

.txt-name-user {
  width: 50%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  border-bottom: 2px solid var(--gray);
}

.container-background-pink {
  padding: 15px;
  margin-top: 50px;
  line-height: 40px;
  border-radius: 5px;
  margin-bottom: 55px;
  background-color: var(--container-background-pink);
}

.brief-purchase {
  text-align: center;
  padding-bottom: 15px;
}

.brief-purchase > h2 {
  margin-bottom: 30px;
}

.order-informations {
  display: flex;
  padding: 15px;
  margin-top: -2px;
  justify-content: space-around;
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
}

.container-status {
  height: 400px;
  margin-top: 30px;
  box-shadow: 1px 1px 4px 1px;
  background-color: var(--container-status);
}

.status-color-green {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--green);
}

.status-color-green > h4 {
  padding-left: 90px;
}

.status-color-yellow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--yellow);
}

.status-color-yellow > h4 {
  padding-left: 90px;
}

.status-color-red {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
}

.status-color-red > h4 {
  padding-left: 90px;
}

.container-status-balls {
  width: 20%;
  display: flex;
  height: 350px;
  margin-left: 30%;
  padding-top: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.deliver-title {
  margin-top: 50px;
  margin-bottom: 10px;
}

.payment-method {
  margin-top: 30px;
}
